.grid-container{
    display: inline;

}
.profileImg{
    height: 200px;
    width:200px;
}






/* 
forcerender
child to parent
parent to child
grid layout
flex
react hooks
this in react
when to use this

*/